body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  text-align: right;
  align-items: center;
  flex-direction: column;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  direction: rtl;
}

h1 {
  text-align: center;
  color: #333;
}
a {
  width: 100%;
}
label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

img {
  margin: 0 0 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #6c757d;
}
.img-fluid {
  width: 100%;
}
#myForm {
  display: none;
  border: 1px solid #6c757d;
}
#buttonContainer,
#buttonContainer1 {
  display: flex;
}

.btn-square-md {
  background-color: white;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}

.addeventatc:hover {
  background-color: #6c757d !important;
  color: #fff !important;
}

.addeventatc_icon {
  display: none;
}

.addeventatc {
  padding: 0px !important;
  border-radius: 8px !important;
}

.btn-square-md {
  font-size: 12px !important;
  border: 1px solid #6c757d !important;
}

h4 {
  font-family: Arial, sans-serif;
}

.btn-outline-secondary {
  --bs-btn-color: #000;
}
a {
  box-shadow: 0 0 0 0.5px rgba(50, 50, 93, 0.17), 0 2px 5px 0 rgba(50, 50, 93, 0.1), 0 1px 1.5px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 0 transparent !important;
}
