body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  text-align: right;
  align-items: center;
  flex-direction: column;
}

form {
  max-width: 80vw;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  direction: rtl;
}

h1 {
  text-align: center;
  color: #333;
}
a {
  width: 100%;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
img {
  max-width: 80vw;
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #6c757d;
}
#myForm {
  display: none; /* הטופס יהיה מוסתר בתחילה */
  border: 1px solid #6c757d;
}
#buttonContainer {
  display: flex;
}

.btn-square-md {
  background-color: white;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0px;
  font-size: 12px;
}
